<% title = 'Unable to sign in with Twitter' %>

<p>You don't have a local account here yet. First, sign in with your Steam account, then you can link your Twitter account to that here and log in with either from then on.</p>

<a href="/auth/steam" class="btn primary">Sign in with Steam</a>

