<% title "Account Settings for #{current_user.steam_nickname}" %>

<h3>Twitter</h3>
<% if current_user.twitter_handle %>
  <p>You're currently linked to the <%= current_user.twitter_handle %> Twitter account.</p>

  <%= link_to "Disconnect from #{current_user.twitter_handle}", disconnect_twitter_path, :class => "btn danger" %>
<% else %>
  <p>Link your Steam profile to your Twitter account for faster login and to tweet new achievements.</p>

  <%= link_to "Connect to Twitter", "/auth/twitter", :class => "btn primary" %>
<% end %>

<h3>Email Preferences</h3>
<i>TBD</i>