/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 * require_tree . 
*/
@font-face {
    font-family: "TF2 Build";
    src: url(tf2_build.ttf);
}

@font-face {
  font-family: "TF2 Secondary";
  src: url(tf2_secondary.ttf);
}

body {
  margin: 0px;
  font-family: "TF2 Secondary";
  background-color: #e0e0d8;
}

#main {
  padding: 0px 10px 0px 10px;
}

#header {
  background-color: #556DCF;
  font-family: Helvetica;
  padding: 7px;
  text-align: right;
  font-size: 9pt;
  color: white;
}
#header a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: "TF2 Secondary";
  color: #FA3434;
}

#flash_alert {
  margin: 10px 0px 10px 0px;
}

img.sparkline {
  border-bottom: 1px solid gray;
}

.achievement {
  width: 600px;
  margin: 10px 40px;
  padding: 5px;
  background: #ccc;
}

.name {
  font-family: "TF2 Build";
  font-size: 20pt;
}

.description {
  font-family: "TF2 Secondary";
  margin: 5px 20px;
}

.time {
  font-family: "TF2 Build";
  text-align: right;
  font-size: 9pt;
}

#footer {
  font-family: Helvetica;
  font-size: 8pt;
  text-align: right;
  padding-right: 20px;
}
#footer a {
  text-decoration: none;
}

@media (max-width: 640px) {
  h1 {
    font-size: 18pt;
  }
  
  #header {
    width: 100%;
    font-size: 6pt;
  }

  .achievement {
    width: 100%;
    margin: 5px auto;
    padding: 5px;
  }
  
  .name {
    font-size: 12pt;
  }
  
  .time {
    font-size: 8pt;
  }
 
  #footer { 
    font-size: 9pt;
    width: 95%;
  }  
}