<div id="friendslist">
  <h3>Friends</h3>

  <div id="friends">Loading...</div>
</div>
<% if params[:user] && params[:game] %>
  <%= coffee_script_tag do %>
    $ ->
      load_friends '<%= params[:user] %>'
  <% end %>
<% end %>
