<% title 'About' %>

<p><%= APP_NAME %> was built by Joost Schuur in Rails 3.1 using the <a href="https://partner.steamgames.com/documentation/community_data">Steam Community Data Web API</a> via Sebastian Staudt's <a href="https://github.com/koraktor/steam-condenser">Steam Condenser gem</a> and Twitter's <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> CSS toolkit.</p>

<p>Full source of this app is available <a href="http://github.com/jschuur/steam-achievements">on GitHub</a>.</p>

<p>Follow Joost (hey, thats me!) on <a href="http://twitter.com/joostschuur">Twitter</a> or <a href="https://plus.google.com/u/0/113220541195694388611">Google+</a>.</p>